<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>CS IA</title>
	<link rel="stylesheet" href="/static/landing.css">
</head>
<body>
	<img src="/static/candor-school-logo.png" class="image1" alt="Logo"><br>
    <marquee direction="up" height="300px">
		<div>Preparing us for life O Candor School</div><br>
		<div>Through Love Respect Concern</div><br>
		<div>You Sharpen Our Integrity</div><br>
		<div>Openness and Transparency</div><br>
        <div>We Owe to you the Flame of Energy</div><br>
        <div>The Passion to Confront whats Wrong</div><br>
        <div>The Shield is our Will to Ever Protect</div><br>
        <div>The Goodness of the Natural World</div><br>
        <div>We're Proud of you O Candor School</div><br>
        <div>We're Learning to Prepare for Life</div><br>
        <div>You Challenge us to Honesty</div><br>
        <div>In all that we Think we Say and Do</div><br>
        <div>We Owe to you the Flame of Energy</div><br>
        <div>The Passion to Confront whats Wrong</div><br>
        <div>The Shield is our Will to Ever Protect</div><br>
        <div>The Goodness of the Natural World</div><br>
	</marquee>
<br>
<br>
<table>
  <tr>
    <th><a href="{{ url_for('first_login') }}">Login</a></th>
	<th><a href="{{ url_for('sign_up') }}">Sign up</a></th>
  </tr>
</table>
</body>
</html>
