<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>CS IA</title>
	<link rel="stylesheet" href="/static/update_score.css">
</head>
<body>
	<h1>Update the Scores</h1>

<br>
<br>

<form action="/update_scores" method="post">
<label for="fname">Blue Basketball</label>
<input type="text" id="fname" name="blue_basketball"><br><br>
<label for="fname">Blue Football</label>
<input type="text" id="fname" name="blue_football"><br><br>
<label for="fname">Blue Swimming</label>
<input type="text" id="fname" name="blue_swimming"><br><br>
<label for="fname">Blue Tennis</label>
<input type="text" id="fname" name="blue_tennis"><br><br>
<label for="fname">Red Basketball</label>
<input type="text" id="fname" name="red_basketball"><br><br>
<label for="fname">Red Football</label>
<input type="text" id="fname" name="red_football"><br><br>
<label for="fname">Red Swimming</label>
<input type="text" id="fname" name="red_swimming"><br><br>
<label for="fname">Red Tennis</label>
<input type="text" id="fname" name="red_tennis"><br><br>
<label for="fname">Green Basketball</label>
<input type="text" id="fname" name="green_basketball"><br><br>
<label for="fname">Green Football</label>
<input type="text" id="fname" name="green_football"><br><br>
<label for="fname">Green Swimming</label>
<input type="text" id="fname" name="green_swimming"><br><br>
<label for="fname">Green Tennis</label>
<input type="text" id="fname" name="green_tennis"><br><br>
<label for="fname">Yellow Basketball</label>
<input type="text" id="fname" name="yellow_basketball"><br><br>
<label for="fname">Yellow Football</label>
<input type="text" id="fname" name="yellow_football"><br><br>
<label for="fname">Yellow Swimming</label>
<input type="text" id="fname" name="yellow_swimming"><br><br>
<label for="fname">Yellow Tennis</label>
<input type="text" id="fname" name="yellow_tennis"><br><br>
<input type="submit" value="Update">
</form>

</body>
</html>
